body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    background: #fff;
    line-height: 1.3;
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background: #eee;
    text-align: center;
    padding: 10px 0 15px;
}

.main-nav {
    text-align: center;
    background: #494e55;
    padding: 15px 0;
}

.main-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 15px;
}

.main-block {
    background:  #eee;
}

.main-container {
    background-image: url(../images/main-pic.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 40px 100px;
}

.main-info {
    width: 400px;
}

.main-title {
    font-size: 55px;
    font-weight: normal;
    margin-bottom: 0;
}
.main-subtitle {
    line-height: 24px;
    margin-bottom: 25px;
}

.know-more {
    display: inline-block;
    color: #fff;
    background: #fb565a;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 30px;
}

.about-block {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.subtitle {
    font-size: 24px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}

.text {
    font-size: 16px;
    color: #283136 ;
}
.box {
    width: 28%;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: top;
    padding: 90px 40px;
    box-sizing: border-box;
    margin: 20px;
}

.box-1 {
    background-image: url(../images/ic-1.png);
}

.box-2 {
    background-image: url(../images/ic-2.png);
}

.box-3 {
    background-image: url(../images/ic-3.png);
}

.btn {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    padding: 15px 30px;
    border: none;
    margin: 20px;
}

.btn-1 {
    background: #efc75e;
}

.btn-2 {
    background: #52b1b1;
}

.btn-3 {
    background: #f0dc6a;
}

.section-info {
    width: 600px;
}

.main-section {
    background-image: url(../images/pic.png);
    background-repeat: no-repeat;
    background-position: right;
    }
       
.section-title {
    font-size: 45px;
    color: #000;
    font-weight: normal;
}

.section-subtitle {
    font-size: 16px;
    color: #283136;
    line-height: 24px;
}

.section-text {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.list {
    font-size: 16px;
    color: #283136;
    font-weight: normal;
}

.all-list {
    padding: 10px;
}

.footer {
    background: #eee;
    color: #000;
    text-align: right;
}

.main-text {
    font-size: 36px;
    font-weight: bold;
   }

.add-text {
    font-size: 16px;
   }